section {
    text-align: center;
    background-color: deeppink

}


.noticias {
    width: 50%;
    
}

body {
    background-image: url("../clase06/imagenes/back.jpg");
    /* background-repeat: no-repeat; 
    background-position: top center;*/
    background-size: cover;
    background-attachment: fixed;
    background: rgba(168,67,168,1);
background: -moz-linear-gradient(-45deg, rgba(168,67,168,1) 0%, rgba(168,67,168,1) 0%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(168,67,168,1)), color-stop(0%, rgba(168,67,168,1)), color-stop(51%, rgba(253,137,215,1)), color-stop(100%, rgba(255,124,216,1)));
background: -webkit-linear-gradient(-45deg, rgba(168,67,168,1) 0%, rgba(168,67,168,1) 0%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
background: -o-linear-gradient(-45deg, rgba(168,67,168,1) 0%, rgba(168,67,168,1) 0%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(168,67,168,1) 0%, rgba(168,67,168,1) 0%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
background: linear-gradient(135deg, rgba(168,67,168,1) 0%, rgba(168,67,168,1) 0%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a843a8', endColorstr='#ff7cd8', GradientType=1 );



}